/* font-family: "OpenSans-Bold"; */
@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSans-Regular"; */
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}